.Footer {
  width: 100%;
  background: rgba(43, 43, 97, 0.758);
  padding: 25px 25px 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.socials {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.company-name {
  font-size: 1.3rem;
  color: #0496ff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.691);
}

.socials__list {
  display: flex;
  column-gap: 10px;
}

.socials__list > li {
  transition: filter 0.8s;
}

@media (hover: hover) {
  .socials__list > li:hover {
    filter: hue-rotate(155deg);
  }
}

.address {
  color: rgb(205, 205, 205);
  align-self: flex-end;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(131, 131, 131, 0.859);
}

.attribution > a {
  font-size: 0.7rem;
}
