.Login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.611);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.login__container {
  position: relative;
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdcc8;
  padding: 60px 30px 30px;
  border-radius: 10px;
}

.btn--close {
  position: absolute;
  top: 10px;
  right: 25px;
}

.login__input {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.login__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
  border-radius: 2rem;
}

.login__google {
  background-color: #4285f4;
}

.login div {
  margin-top: 7px;
}

.hidden {
  display: none !important;
}
