.Dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.pageContainer {
  width: 100%;
}

.panel__container {
  border: solid 1px black;
}

.testBtn {
  border: solid 1px red;
  position: absolute;
  top: 500px;
  left: 50px;
}
