.PatronSearch {
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.searchBarWrapper {
  margin-left: 3vw;
  width: clamp(250px, 40vw, 500px);
}
